h1 {
	font: var(--font-bold) 2.5rem/1.5 var(--font-serif);
}

h2 {
	font: var(--font-bold) 2rem var(--font-serif);
}

@media screen and (max-width: 400px) {
	h2 {
		font-size: 1.5rem;
	}
}

h4 {
	margin-block-start: 0.5rem;
}

nav a {
	color: var(--white);
	text-decoration: none;
	border: none;
}

a {
	color: var(--red-accent);
	margin: 0 5px;
	text-transform: lowercase;
	border-bottom: 1px solid var(--purple-accent-light);
}

a:hover {
	color: var(--green-accent-darker);
}

strong {
	font-weight: var(--font-bold);
	color: var(--purple-accent);
}

hr {
	border: 0;
	border-top: 2px dashed var(--purple-accent-light);
	margin: 1.5rem 0;
}

p {
	display: block;
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 60%;
	margin: auto;
	padding: 1rem;
}

main > *:first-child {
	margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
	main {
		width: 80%;
	}
}

@media screen and (max-width: 900px) {
	main {
		width: 100%;
	}
}

.display_none {
	display: none;
}

.display {
	display: flex;
}

footer {
	margin: 20px 0;
	text-align: center;
}
