.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
}

.modal__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--white);
	border-radius: 1rem;
	box-shadow: var(--box-shadow);
	max-height: calc(100vh - 40px);
	width: fit-content;
	z-index: 3;
}

.modal__inner {
	margin: 1.5rem auto;
	padding: 0 2rem;
	height: 50%;
	max-height: calc(60% - 60px);
	overflow: auto;
}

.modal__nav {
	background-color: var(--purple-accent-light-03);
	width: 100%;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.9rem 0.9rem 0 0;
}

.modal__img {
	width: 100%;
	max-width: 400px;
	height: auto;
	overflow: hidden;
	margin: auto;
	margin-block-end: 1.5rem;
}

.modal__img img {
	border-radius: 1rem;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

.modal__price {
	margin: 0;
	text-align: left;
	gap: 10px;
}

@media screen and (max-width: 670px) {
	.modal__content {
		width: 75%;
	}

	.modal__price {
		text-align: center;
		flex-direction: column;
	}
}

@media screen and (max-width: 400px) {
	.modal__content {
		width: 95%;
	}
}
