:root {
	--font-sans: "Barlow", Helvetica, Arial, sans-serif;
	--font-serif: "Fraunces", Georgia, "Times New Roman", serif;
	--font-thin: 300;
	--font-regular: 400;
	--font-bold: 600;

	--purple-accent: rgb(113, 30, 101);
	--purple-accent-light: rgb(213, 160, 219);
	--purple-accent-light-02: rgb(213, 160, 219, 0.7);
	--purple-accent-light-03: #e3c8da;
	--red-accent: rgb(205, 48, 61);
	--green-accent: rgb(78, 218, 120);
	--green-accent-darken: rgb(26, 155, 86);
	--white: rgb(233, 218, 218);
	--white-02: rgb(238, 222, 222);
	--white-03: rgba(233, 218, 218, 0.3);
	--white-05: rgba(233, 218, 218, 0.5);
	--black: rgb(41, 29, 47);
	--black-05: rgba(41, 29, 47, 0.7);

	--box-shadow: 0 5px 15px rgba(63, 45, 58, 0.306);
}
